{% load static %}

<head>
        <!-- Primary Meta Tags -->
    <title>Learnwell</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="propeller" content="82d7e68a80e655bb0992f348330d980a">
    <meta name="title" content="Learnwell | A Blog for all student and non student were learning is made easy">
    <meta name="description" content="A Blog for Learning, Where Learning is Made Easy for Everyone,Anyone">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://learnwell.me/">
    <meta property="og:title" content="Learnwell | A Blog for all student and non student were learning is made easy">
    <meta property="og:description" content="A Blog for Learning, Where Learning is Made Easy for Everyone,Anyone">
    <meta property="og:image" content="">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://learnwell.me/">
    <meta property="twitter:title" content="Learnwell | A Blog for all student and non student were learning is made easy">
    <meta property="twitter:description" content="A Blog for Learning, Where Learning is Made Easy for Everyone,Anyone">
    <meta property="twitter:image" content="">
    <link rel="shortcuts icon" type="img/png" href="{% static "img/FardonElementary.png" %}">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} ">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <!-- Custom icon font-->
    <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <!-- Fancybox-->
    <link rel="stylesheet" href="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
