{% extends 'base.html' %} {% load crispy_forms_tags %}
 
{% block head_title %} {{ post.title }} {% endblock %}
{% include "meta/meta.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img
                        src="{{ post.image_url }}" alt="Post Image"
                        class="img-fluid"></a></div>
                    <div class="post-details">
                        <!----<div class="content col-md-8 mb-4  mt-3 left  top" style="margin-top: 25px;margin-bottom: 25px; padding-top: 25px; padding-bottom: 25px;">---->
                        <div class="post-meta d-flex justify-content-between">
                            <h1>{{ post.title }}<a href="{{ post.get_absolute_url }}"><i class="fa fa-bookmark-o"></i></a></h1>
                        </div>
                        <div class="post-body">
                            {{ post.content | safe }}
                        </div>
                        <div
                            class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                            {% if post.previous_post %}
                            <a href="{{ post.previous_post.get_absolute_url }}"
                                class="prev-post text-left d-flex align-items-center">
                                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                <div class="text"><strong class="text-primary">Previous Post </strong>
                                    <h6>{{ post.previous_post.title }}</h6>
                                </div>
                            </a>
                            {% endif %}
                            {% if post.next_post %}
                            <a href="{{ post.next_post.get_absolute_url }}"
                                class="next-post text-right d-flex align-items-center justify-content-end">
                                <div class="text"><strong class="text-primary">Next Post </strong>
                                    <h6>{{ post.next_post.title }}</h6>
                                </div>
                                <div class="icon next"><i class="fa fa-angle-right"> </i></div>
                            </a>
                            {% endif %}
                        </div>
                        <div class="post-comments">
                            <!-- comments -->
                            {% with comments.count as total_comments %}
                            <h2>{{ total_comments }} comments</h2>

                            <p>
                                {% endwith %} {% for comment in comments %}
                            </p>
                            {% endfor %} {% load mptt_tags %}
                            <div>
                                {% recursetree comments %}
                                <div id="{{ node.id }}" class="comments" style='padding: 10px; color:blue;'>
                                    <p class="font-weight-bold" style="color: black;"><img src="{{post.author.comment_image}}" alt="Avatar">
                                        
                                        {{ node.name }}
                                        <span class=" text-muted font-weight-normal text-info" style="padding-left: 25px;">
                                            {{ node.publish }}
                                        </span>
                                    </p>
                                    {{ node.content | linebreaks}}
                                    {% if node.level < 3 %}
                                    <button class="button" onclick="myFunction({{ node.id }})">Reply to {{ node.name }}</button>
                                    {% endif %}
                                </div>
                                {% if not node.is_leaf_node %}
                                <div class="comment-body">
                                    {{ children }}
                                </div>
                                {% endif %}
                                {% endrecursetree %}
                            </div>
                            <div class="add-comment">
                                <h3>Leave a comment</h3>
                                <form method="post" style="margin-top: 1.3em;">
                                    {{ comment_form | crispy }} {% csrf_token %}
                                    <button type="Post Comment" class="btn btn-primary  btn-md bg-info">Post Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent%}
        
    </div>
</div>
<script>
    function formExit() {
        document.getElementById("newForm").remove();
    }

    function myFunction(id) {
        if (document.contains(document.getElementById("newForm"))) {
            document.getElementById("newForm").remove();
        }

        var d1 = document.getElementById(id);
        d1.insertAdjacentHTML('afterend',
            '<form id="newForm" class="form-insert py-2" method="post"> \
              <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
              <label for="id_name">Name:</label> \
              <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
              <select name="parent" class="d-none" id="id_parentt"> \
              <option value="' + id + '" selected="' + id + '"></option> \
              </select> \
              <label for="id_content">Content:</label> \
              <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
              {% csrf_token %} \
              <button type="Post Comment" class="btn btn-primary btn-md btn-block bg-info">Post Comment</button> \
            </form>');

        //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
    }

    $('#myForm').trigger("reset");
</script>
{% endblock content %}