<aside class="col-lg-4">
    <!-- Widget [Search Bar Widget]-->
    <div class="widget search">
        <header>
            <h3 class="h6">Search the blog</h3>
        </header>
        <form action="{% url 'post_search' %}" class="search-form">
            <div class="form-group">
                <input type="search" name="q" id="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
    <div class="widget latest-posts">
        <header>
            <h4 class="h6">Latest Posts</h4>
        </header>
        <div class="blog-posts">
            {% for post in most_recent %}
            <a href="{{ post.get_absolute_url }}">
                <div class="item d-flex align-items-center">
                    <div class="image"><img src="{{ post.image_url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><strong><a href="{{ post.get_absolute_url }}">{{post.title}}</a></strong>
                        <div class="d-flex align-items-center">
                            <div class="comments"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                        </div>
                    </div>
                </div>
            </a>
            {%endfor%}
        </div>
    </div>
    <div class="widget tags">
        <header>
            <h3 class="h6">Tags</h3>
        </header>
        <ul class="list-inline">
            {% for mt in common_tags %}
            <li class="list-inline-item"><a href="{% url 'tagged' mt.slug %}" class="tag">{{mt}}</a></li>
            {% endfor %}
        </ul>
    </div>
</aside>