@charset "UTF-8";

@font-face {
  font-family: "blog";
  src:url("../fonts/blog.ef4d447f2166.eot");
  src:url("../fonts/blog.ef4d447f2166.eot?#iefix") format("embedded-opentype"),
    url("../fonts/blog.f5128c510178.woff") format("woff"),
    url("../fonts/blog.2d3180f86a9b.ttf") format("truetype"),
    url("../fonts/blog.9874b7c19400.svg#blog") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "blog" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "blog" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\61";
}
.icon-clock:before {
  content: "\62";
}
.icon-comment:before {
  content: "\64";
}
.icon-search-1:before {
  content: "\67";
}
.icon-close:before {
  content: "\68";
}
.icon-eye:before {
  content: "\63";
}
