*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body {
  min-height: 100vh;
  position: relative;
}
.flex-grow {
  flex: 1;
}



.extra_margin{
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  color: black;
  align-self: center;
}
.btn-outline {
  color: rgb(252, 247, 247);
}

.text-center {
  padding-top: 30px;
}

.row .extra_margin {

  margin-top: 25px;
  margin-bottom: 25px;

}
.row {
  padding-top: 25px;
  margin-top: 25px;
}

.btn-outline {
  box-shadow: 0 0 0 .2rem rgba(29, 224, 29, 0.5);
}

.comment {
  margin: 20px 0px 20px 20px;
}

.site-header {
  font-size: 15px;
  text-align: center;
  background: white;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* The dots/bullets/indicators */
/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.active, .dot:hover {
  background-color: #717171;
}